<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>
</head>

<body>
    <h1>Landing page</h1>
    <canvas id='drawingCanvas' width="280" height="280"></canvas>
    <button id ='clearButton'>Clear</button>
    <button id="">Classify</button>

</body>
</html>
